button.svelte-1tcem6n {
  background: black;
  color: #ffffff;
}
button.huggingface.svelte-1137axg {
  background: black;
  color: #ffffff;
}

button.huggingface.svelte-1137axg:active {
  transform: scale(0.96);
}

button.secondary.svelte-1137axg:active {
  transform: scale(0.96);
}
